[submodule ".config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/dot-config/nvim"]
	path = nvim/dot-config/nvim
	url = https://github.com/mannykoum/config.nvim
